# Prework

In [ ]:
#Random information to test the MERGE!!!!

In [ ]:
#Adding new stuff to the project for testing purposes!!!

In [ ]:
#import kaggle
#kaggle.api.authenticate()
#kaggle.api.dataset_download_files('API command here', path='Resources', unzip=True)

#API commands used from Kaggle:
#Boston: AnalyzeBoston/crimes-in-boston
#Baltimore: sohier/crime-in-baltimore
#Philadelphia: mchirico/philadelphiacrimedata
#Solar & Lunar: nasa/solar-eclipses
#Full Moon: lsind18/full-moon-calendar-1900-2050

In [ ]:
# #Dependencies
# import pandas as pd
# import numpy as np
# import os
# import time

# #File load
# boston = "Resources/boston_crime_data.csv"
# philadelphia = "Resources/philadelphia_crime_data.csv"
# baltimore = "Resources/balitmore_crime_data.csv"

# #Read file and store into pandas data frame
# boston_data_df = pd.read_csv(boston, sep = ',')
# philadelphia_data_df = pd.read_csv(philadelphia, sep = ',')
# baltimore_data_df = pd.read_csv(baltimore, sep = ',')

In [ ]:
#boston_data_df.head()
#baltimore_data_df.head()
#philadelphia_data_df.head()

In [ ]:
# #Sort through data to make smaller, finding only requested year
# #Philadephia
# philadelphia_data_df['Dispatch_Date']= pd.to_datetime(philadelphia_data_df['Dispatch_Date'])
# philadelphia_data_df2 = philadelphia_data_df[philadelphia_data_df['Dispatch_Date'].dt.year == 2016]
# #Also reduce column size to fit into git repository 
# philadelphia_data_df3 = philadelphia_data_df2[['Dispatch_Date', 'Text_General_Code']].copy()
# philadelphia_data_df3['Text_General_Code'].value_counts()

# #Original files too large to upload to GitHub. 
# #Isolated year 2016, selected desired columns then saved and uploaded shortened version
# philadelphia_data_df3.to_csv('Resources/philadelphia_data_df3.csv')

In [ ]:
# #Sort through data to make smaller, finding only requested year
# #Boston
# boston_data_df['OCCURRED_ON_DATE']= pd.to_datetime(boston_data_df['OCCURRED_ON_DATE'])
# boston_data_df2 = boston_data_df[boston_data_df['OCCURRED_ON_DATE'].dt.year == 2016]

# #Original files too large to upload to GitHub. 
# #Isolated year 2016 then saved and uploaded shortened version
# boston_data_df2.to_csv('Resources/boston_data_df3.csv')

In [ ]:
# #Sort through data to make smaller, finding only requested year
# #Baltimore
# baltimore_data_df['CrimeDate']= pd.to_datetime(baltimore_data_df['CrimeDate'])
# baltimore_data_df2 = baltimore_data_df[baltimore_data_df['CrimeDate'].dt.year == 2016]

# #Original files too large to upload to GitHub. 
# #Isolated year 2016 then saved and uploaded shortened version
# baltimore_data_df2.to_csv('Resources/baltimore_data_df3.csv')

# Lunar cycle effects on three major cities in eastern North America

In [1]:
#Dependencies
import pandas as pd
import numpy as np
import os
import time

#Load files
boston = "Resources/boston_data_df3.csv"
philadelphia = "Resources/philadelphia_data_df3.csv"
baltimore = "Resources/baltimore_data_df3.csv"
solar = "Resources/solar.csv"
lunar = "Resources/lunar.csv"
full_moon = "Resources/full_moon.csv"


#Read file and store into pandas data frame
boston_df = pd.read_csv(boston, sep = ',')
philadelphia_crime_2016 = pd.read_csv(philadelphia, sep = ',')
baltimore_df = pd.read_csv(baltimore, sep = ',')
solar_df = pd.read_csv(solar, sep = ',')
lunar_df = pd.read_csv(lunar, sep = ',')
full_moon_data_df = pd.read_csv(full_moon, sep = ',')

In [2]:
#Shorten  data frames to get just desired columns
#Boston
boston_crime_2016 = boston_df[['OCCURRED_ON_DATE','OFFENSE_CODE_GROUP' ,'OFFENSE_DESCRIPTION']].copy()
boston_crime_2016['OCCURRED_ON_DATE'] = pd.to_datetime(boston_crime_2016['OCCURRED_ON_DATE']).dt.normalize()
boston_crime_2016.rename(columns = {'OCCURRED_ON_DATE':'Crime Date', 'OFFENSE_CODE_GROUP':'Offense Description',
                                    'OFFENSE_DESCRIPTION':'Offense Specific' }, inplace = True)

#Baltimore
baltimore_crime_2016 = baltimore_df[['CrimeDate', 'Description', 'Weapon']].copy()
baltimore_crime_2016.rename(columns = {'CrimeDate':'Crime Date', 'Description':'Offense Description'}, inplace = True)
# baltimore_data_df3['Description'].value_counts()

#Philadelphia: 
# data already redcued in order to fit in git hub repository
philadelphia_crime_2016.rename(columns = {'Unnamed: 0': 'Prior Index', 'Dispatch_Date':'Crime Date', 'Text_General_Code':'Offense Description'}, inplace = True)
#del philadelphia_crime_2016['Unnamed: 0']

#Solar eclipse
#sort desired columns
solar_data_df = solar_df[['Calendar Date', 'Eclipse Time', 'Gamma', 'Eclipse Magnitude']].copy()
#sort desired year
solar_data_df['Calendar Date']= pd.to_datetime(solar_data_df['Calendar Date'], errors = 'coerce')
solar_eclipse_2016 = solar_data_df[solar_data_df['Calendar Date'].dt.year == 2016]

#Lunar eclipse
#sort desired columns
lunar_data_df = lunar_df[['Calendar Date', 'Eclipse Time', 'Gamma', 'Penumbral Eclipse Duration (m)', \
                             'Partial Eclipse Duration (m)', 'Total Eclipse Duration (m)']].copy()
#sort desired year
lunar_data_df['Calendar Date']= pd.to_datetime(lunar_data_df['Calendar Date'], errors = 'coerce')
lunar_eclipse_2016 = lunar_data_df[lunar_data_df['Calendar Date'].dt.year == 2016]

#Full Moon
#fix columns by renaming (removing space before name)
full_moon_data_df.columns = ['Day', 'Calendar Date', 'Time']

#set column date as date_time and sort to get desired year
full_moon_data_df['Calendar Date']= pd.to_datetime(full_moon_data_df['Calendar Date'])
full_moon_2016 = full_moon_data_df[full_moon_data_df['Calendar Date'].dt.year == 2016]

In [3]:
#boston_crime_2016.head(20)
#baltimore_crime_2016.head()
#philadelphia_crime_2016.head()
#solar_eclipse_2016.head()
#lunar_eclipse_2016.head()
full_moon_2016

            Day Calendar Date          Time
1435     Sunday    2016-01-24   02:45:48 am
1436     Monday    2016-02-22   07:19:54 pm
1437  Wednesday    2016-03-23   01:00:54 pm
1438     Friday    2016-04-22   07:23:42 am
1439   Saturday    2016-05-21   11:14:30 pm
1440     Monday    2016-06-20   01:02:24 pm
1441  Wednesday    2016-07-20   12:56:36 am
1442   Thursday    2016-08-18   11:26:36 am
1443     Friday    2016-09-16   09:05:06 pm
1444     Sunday    2016-10-16   06:23:06 am
1445     Monday    2016-11-14   02:52:06 pm
1446  Wednesday    2016-12-14   01:05:36 am